<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript">
        function filter() {
            var val = $("#SelectedCategoryID").val();
            $.ajax({
                url: "/Volunteers/FilterVolunteers",
                type: "GET",
                data: { CategoryID: val }
            })
                .done(function (partialViewResult) {
                    $("#dvVolunteerList").html(partialViewResult);
                });
        }
        $(document).ready(function () {
            $("#SelectedCategoryID").on('change', filter);
        });
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="@Url.Action("Index", "Volunteers")">
            <img src="~/PICS/crmlogo.png" alt="logo" style="width:150px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
 
        <div class="collapse navbar-collapse" id="navbarColor03">
            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
            {
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        @Html.ActionLink("Hour Summary", "HourSummary", "Volunteers", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Add Volunteer", "Create", "Volunteers", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Volunteers", "Index", "Volunteers", null, new { @class = "nav-link" })
                    </li>
                </ul>
            }

            @Html.Partial("_LoginPartial")
            @*<form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>*@
        </div>
    </nav>
    @*<div class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <a class="navbar-brand" href="#">
                        <img src="~/PICS/crmlogo.png" alt="logo" style="width:150px;">
                    </a>
                    <ul class="nav navbar-nav" style="margin-left:459px">
                        <li style="font-size: x-large">@Html.ActionLink("Hour Summary", "HourSummary", "Volunteers")</li>
                        <li style="font-size: x-large">@Html.ActionLink("Add Volunteer", "Create", "Volunteers")</li>
                        <li style="font-size: x-large">@Html.ActionLink("Volunteers", "Index", "Volunteers")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>*@

    <div class="container body-content">
        <br />
        <br />
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - City Rescue Mission</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

