@model CRMSite.Models.CreateViewModel

<h2>Add New Volunteer</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <h3>Personal Information</h3>
    <div class="row">
        <div class="col-lg-3">
            @*@Html.LabelFor(model => model.FirstName)*@
            First Name
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>
        <div class="col-lg-3">
            @Html.LabelFor(model => model.LastName)
            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>
        <div class="col-lg-3">
            @Html.LabelFor(model => model.BirthDate)
            @Html.EditorFor(model => model.BirthDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
        </div>
        <div class="col-lg-3">

        </div>

    </div>

    <br />

    <div class="row">
        <div class="col-lg-3">
            @Html.LabelFor(model => model.Address)
            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
        </div>

        <div class="col-lg-3">
            @Html.LabelFor(model => model.City)
            @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
        </div>
        <div class="col-lg-3">
            @Html.LabelFor(model => model.State)
            @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
        </div>

        <div class="col-lg-3">
            @Html.LabelFor(model => model.Zipcode)
            @Html.EditorFor(model => model.Zipcode, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Zipcode, "", new { @class = "text-danger" })
        </div>
    </div>

    <br />

    <div class="row">

        <div class="col-lg-3">
            @Html.LabelFor(model => model.Email)
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>

        <div class="col-lg-3">
            @Html.LabelFor(model => model.Phone)
            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
        </div>
        <div class="col-lg-3">

        </div>
        <div class="col-lg-3">

        </div>

    </div>

    <br />
    <hr />

    <h3>Emergency Contact</h3>

    <div class="row">

        <div class="col-md-4">
            @Html.LabelFor(model => model.EmergencyName)
            @Html.EditorFor(model => model.EmergencyName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EmergencyName, "", new { @class = "text-danger" })
        </div>

        <div class="col-md-4">
            @Html.LabelFor(model => model.EmergencyRelation)
            @Html.EditorFor(model => model.EmergencyRelation, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EmergencyRelation, "", new { @class = "text-danger" })
        </div>

        <div class="col-md-4">
            @Html.LabelFor(model => model.EmergencyPhone)
            @Html.EditorFor(model => model.EmergencyPhone, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EmergencyPhone, "", new { @class = "text-danger" })
        </div>
    </div>

    <br />
    <hr />

    <h3>Organization</h3>


    <div class="row">
        <div class="col-md-4">
            @Html.LabelFor(model => model.Organization)
            @Html.EditorFor(model => model.Organization, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Organization, "", new { @class = "text-danger" })
        </div>

        <div class="col-md-4">
            @Html.LabelFor(model => model.Occupation)
            @Html.EditorFor(model => model.Occupation, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Occupation, "", new { @class = "text-danger" })
        </div>


        <div class="col-md-4">

        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            @Html.LabelFor(model => model.Church)
            @Html.EditorFor(model => model.Church, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Church, "", new { @class = "text-danger" })
        </div>


        <div class="col-md-4">
            @Html.LabelFor(model => model.Pastor)
            @Html.EditorFor(model => model.Pastor, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Pastor, "", new { @class = "text-danger" })
        </div>



        <div class="col-md-4">
            @Html.LabelFor(model => model.HowDidYouHear)
            @Html.EditorFor(model => model.HowDidYouHear, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.HowDidYouHear, "", new { @class = "text-danger" })
        </div>
    </div>

    <br />
    <hr />
    <h3>Criminal Past</h3>

    <div class="row">

        <div class="col-md-4">
            @Html.LabelFor(model => model.Felony)
            @Html.EditorFor(model => model.Felony, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Felony, "", new { @class = "text-danger" })
        </div>

        <div class="col-md-4">
            @Html.LabelFor(model => model.NatureOfFelony)
            @Html.TextAreaFor(model => model.NatureOfFelony, new { @Style = "height:30px; width:800px;" })
            @Html.ValidationMessageFor(model => model.NatureOfFelony, "", new { @class = "text-danger" })
        </div>

        <div class="col-md-4">

        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
           
        </div>

        <div class="col-md-4">

        </div>

        <div class="col-md-4">

        </div>
    </div>


    <br />
    <hr />

    <h3>Other</h3>
    <div class="row">

        <div class="col-md-4">
            @Html.LabelFor(model => model.Disabilities)
            <br />
            @Html.TextAreaFor(model => model.Disabilities, new { @Style = "height:100px; width:800px;" })
            @Html.ValidationMessageFor(model => model.Disabilities, "", new { @class = "text-danger" })
        </div>

        <div class="col-md-4">
            @Html.LabelFor(model => model.Skills)
            <br />
            @Html.TextAreaFor(model => model.Skills, new { @Style = "height:100px; width:800px;" })
            @Html.ValidationMessageFor(model => model.Skills, "", new { @class = "text-danger" })
        </div>
    </div>



    @foreach (var av in Model.AllAvailability)
    {
        <div>
            <p>@av.Day</p>
            <input type="checkbox" name="SelectedDays" value="@av.AvailabilityID" />
        </div>
    }

    @*@foreach (var ct in Model.AllCategories)
        {
            <div>
                <p>@ct.Category1</p>
                <input type="checkbox" name="SelectedCategories" value="@ct.CategoryID" />
            </div>
        }*@

        <div>
            <p class="text-center" style="font-weight:bold">Categories</p>
            @{
                int total = 0;
            }
            <table id="memberlist" style="width:100%">
                <tbody>
                    @foreach (var ct in Model.AllCategories)
                    {
                        if (total % 4 == 0)
                        {
                            @:<tr style="height:30px">
                            }
                            <td>
                                <input type="checkbox" name="SelectedCategories" value="@ct.CategoryID" /> @ct.Category1
                            </td>
                            if (total + 1 % 5 == 0)
                            {
                            @:</tr>
                        }
                        total++;
                    }
                </tbody>
            </table>
        </div>
    

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" >
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
