@model CRMSite.Models.Volunteer

<h2>Details</h2>

<div class="row">
    <hr />
    <div class="col-lg-3" style="margin-top: 13px">
        <b style="font-size:large">First Name</b><br />
        <b style="font-size:large">Last Name</b><br />
        <b style="font-size:large">Birth Date</b><br />
        <b style="font-size:large">Address</b><br />
        <b style="font-size:large">City</b><br />
        <b style="font-size:large">State</b><br />
        <b style="font-size:large">Zipcode</b><br />
        <b style="font-size:large">Phone</b><br />
        <b style="font-size:large">E-Mail</b><br />
        <b style="font-size:large">Emergency Name</b><br />
        <b style="font-size:large">Emergency Relation</b><br />
        <b style="font-size:large">Emergency Phone</b><br />
        <b style="font-size:large">Organization</b><br />
        <b style="font-size:large">Occupation</b><br />
        <b style="font-size:large">Church Affiliation</b><br />
        <b style="font-size:large">Senior Pastor</b><br />
        <b style="font-size:large">How Did You Hear of Us?</b><br />
        <b style="font-size:large">Felony</b><br />
        <b style="font-size:large">Nature of Felony</b><br />
    </div>
    <div class="col-lg-4" style="margin-top: 13px">
        <p style="font-size:large; margin:0px">@Model.FirstName</p>
        <p style="font-size:large; margin:0px">@Model.LastName</p>
        <p style="font-size:large; margin:0px">@Model.BirthDate</p>
        <p style="font-size:large; margin:0px">@Model.Address</p>
        <p style="font-size:large; margin:0px">@Model.City</p>
        <p style="font-size:large; margin:0px">@Model.State</p>
        <p style="font-size:large; margin:0px">@Model.Zipcode</p>
        <p style="font-size:large; margin:0px">@Model.Phone</p>
        <p style="font-size:large; margin:0px">@Model.Email</p>
        <p style="font-size:large; margin:0px">@Model.EmergencyName</p>
        <p style="font-size:large; margin:0px">@Model.EmergencyRelation</p>
        <p style="font-size:large; margin:0px">@Model.EmergencyPhone</p>
        <p style="font-size:large; margin:0px">@Model.Organization</p>
        <p style="font-size:large; margin:0px">@Model.Occupation</p>
        <p style="font-size:large; margin:0px">@Model.Church</p>
        <p style="font-size:large; margin:0px">@Model.Pastor</p>
        <p style="font-size:large; margin:0px">@Model.HowDidYouHear</p>
        <p style="font-size:large; margin:0px">@Model.Felony</p>
        <p style="font-size:large; margin:0px">@Model.NatureOfFelony</p>
    </div>
    <div class="col-lg-5" style="height:510px; overflow: auto">
        <table class="table table-bordered">
            <tr>
                <th>
                    Date
                </th>
                <th>
                    Category
                </th>
                <th>
                    Hours
                </th>
            </tr>

            @foreach (var m in Model.TimeLogs)
            {
                <tr>
                    <td>
                        @m.Date
                    </td>
                    <td>
                        @m.Category.Category1
                    </td>
                    <td>
                        @m.HoursWorked
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
<br /><br />
<div class="row text-center">
    <div class="col-lg-3">
        <b style="font-size:large">Skills</b><br />
         @Model.Skills
    </div>
    <div class="col-lg-3">
        <b style="font-size:large">Disabilities</b><br />
         @Model.Disabilities
    </div>
    <div class="col-lg-3">
        <b style="font-size:large">Category(s)</b><br />
        @foreach (var c in Model.Categories)
        {
            @c.Category1<br />
        }
    </div>
    <div class="col-lg-3">
        <b style="font-size:large">Availability</b><br />
        @foreach (var a in Model.Availabilities)
        {
            @a.Day<br />
        }
    </div>

</div>
<br />
<br />
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VolunteerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
