@model VMS.Models.Volunteer

<h2>Volunteer Information</h2>

<div class="col-lg-6" style="height:510px">

    <table class="table table-sm">
        <tbody>
            <tr>
                <td>First Name</td>
                <td>@Model.FirstName</td>
            </tr>

            <tr>
                <td>Last Name</td>
                <td>@Model.LastName</td>
            </tr>

            <tr>
                <td>Birth Date</td>
                <td>@Model.BirthDate </td>
            </tr>

            <tr>
                <td>Address </td>
                <td>@Model.Address</td>
                
            </tr>
            
            <tr>
                <td>Address Line 2</td>
                <td>@Model.Address2</td>
            </tr>
            
            <tr>
                <td>City</td>
                <td>@Model.City</td>
            </tr>

            <tr>
                <td>State</td>
                <td>@Model.State </td>
            </tr>

            <tr>
                <td>Zip Code</td>
                <td>@Model.Zipcode</td>
            </tr>

            <tr>
                <td>Phone</td>
                <td>@Model.Phone</td>
            </tr>

            <tr>
                <td>E-Mail</td>
                <td>@Model.Email</td>
            </tr>

            <tr>
                <td>Emergency Name</td>
                <td>@Model.EmergencyName</td>
            </tr>

            <tr>
                <td>Emergency Relation</td>
                <td>@Model.EmergencyRelation</td>
            </tr>

            <tr>
                <td>Emergency Phone</td>
                <td>@Model.EmergencyPhone</td>
            </tr>

            <tr>
                <td>Organization</td>
                <td>@Model.Organization</td>
            </tr>

            <tr>
                <td>Occupation</td>
                <td>@Model.Occupation</td>
            </tr>

            <tr>
                <td>Church Affiliation</td>
                <td>@Model.Church</td>
            </tr>

            <tr>
                <td>Senior Pastor</td>
                <td>@Model.Pastor</td>
            </tr>

            <tr>
                <td>How Did You Hear of Us?</td>
                <td>@Model.HowDidYouHear</td>
            </tr>

            <tr>
                <td>Felony</td>
                <td>@Model.Felony</td>
            </tr>

            <tr>
                <td>Nature of Felony</td>
                <td>@Model.NatureOfFelony</td>
            </tr>

            <tr>
                <td>Skills</td>
                <td>@Model.Skills</td>
            </tr>

            <tr>
                <td>Disability</td>
                <td>@Model.Disabilities</td>
            </tr>

            <tr>
                <td>Category(s)</td>
                <td>
                    @foreach (var c in Model.Categories)
                    {
                        @c.Category1<br />
                    }
                </td>
            </tr>

            <tr>
                <td>Availibility</td>
                <td>
                    @foreach (var a in Model.Availabilities)
                    {
                        @a.Day<br />
                    }
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.VolunteerID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>


<div class="col-lg-6" style="height:510px; overflow: auto">
    <h3>Volunteer Hours Log</h3>
    <table class="table table-sm">
        <tr>
            <th>
                Date
            </th>
            <th>
                Category
            </th>
            <th>
                Hours
            </th>
        </tr>

        @foreach (var m in Model.TimeLogs)
        {
            <tr>
                <td>
                    @m.Date
                </td>
                <td>
                    @m.Category.Category1
                </td>
                <td>
                    @m.HoursWorked
                </td>
            </tr>
        }
    </table>
</div>

<br />
<br />

