@model VMS.Models.EditViewModel

<h2>Edit Volunteer</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <input id="VolunteerPerson.VolunteerID" name="VolunteerPerson.VolunteerID" type="hidden" value="@Model.VolunteerPerson.VolunteerID" />
    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <h3>Personal Information</h3>
        <div class="row">
            <div class="col-lg-3">
                @*@Html.LabelFor(model => model.FirstName)*@
                First Name
                @Html.EditorFor(model => model.VolunteerPerson.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.VolunteerPerson.FirstName, "", new { @class = "text-danger" })
            </div>
            <div class="col-lg-3">
                Last Name
                @Html.EditorFor(model => model.VolunteerPerson.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.VolunteerPerson.LastName, "", new { @class = "text-danger" })
            </div>
            <div class="col-lg-3">
                Birth Date (xx-xx-xxxx)
                @Html.EditorFor(model => model.VolunteerPerson.BirthDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.VolunteerPerson.BirthDate, "", new { @class = "text-danger" })
            </div>
            <div class="col-lg-3">

            </div>

        </div>

        <br />

        <div class="row">
            <div class="col-lg-3">
                Address
                @Html.EditorFor(model => model.VolunteerPerson.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.VolunteerPerson.Address, "", new { @class = "text-danger" })
            </div>

            <div class="col-lg-3">
                City
                @Html.EditorFor(model => model.VolunteerPerson.City, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.VolunteerPerson.City, "", new { @class = "text-danger" })
            </div>
            <div class="col-lg-3">
                State
                @Html.EditorFor(model => model.VolunteerPerson.State, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.VolunteerPerson.State, "", new { @class = "text-danger" })
            </div>

            <div class="col-lg-3">
                Zip Code
                @Html.EditorFor(model => model.VolunteerPerson.Zipcode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.VolunteerPerson.Zipcode, "", new { @class = "text-danger" })
            </div>
        </div>

        <br />

        <div class="row">

            <div class="col-lg-3">
                Email Address
                @Html.EditorFor(model => model.VolunteerPerson.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.VolunteerPerson.Email, "", new { @class = "text-danger" })
            </div>

            <div class="col-lg-3">
                Phone Number (xxx-xxx-xxxx)
                @Html.EditorFor(model => model.VolunteerPerson.Phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.VolunteerPerson.Phone, "", new { @class = "text-danger" })
            </div>
            <div class="col-lg-3">

            </div>
            <div class="col-lg-3">

            </div>

        </div>

        <br />
        <hr />

        <h3>Emergency Contact</h3>

        <div class="row">

            <div class="col-md-4">
                Emergency Contact
                @Html.EditorFor(model => model.VolunteerPerson.EmergencyName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.VolunteerPerson.EmergencyName, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-4">
                Relation to you
                @Html.EditorFor(model => model.VolunteerPerson.EmergencyRelation, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.VolunteerPerson.EmergencyRelation, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-4">
                Emergency Contact Phone Number
                @Html.EditorFor(model => model.VolunteerPerson.EmergencyPhone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.VolunteerPerson.EmergencyPhone, "", new { @class = "text-danger" })
            </div>
        </div>

        <br />
        <hr />

        <h3>Organization</h3>


        <div class="row">
            <div class="col-md-4">
                Organization
                @Html.EditorFor(model => model.VolunteerPerson.Organization, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.VolunteerPerson.Organization, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-4">
                Occupation
                @Html.EditorFor(model => model.VolunteerPerson.Occupation, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.VolunteerPerson.Occupation, "", new { @class = "text-danger" })
            </div>


            <div class="col-md-4">

            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4">
                Church Name ("n/a" if you aren't affiliated)
                @Html.EditorFor(model => model.VolunteerPerson.Church, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.VolunteerPerson.Church, "", new { @class = "text-danger" })
            </div>


            <div class="col-md-4">
                Pastor Name ("n/a" if this doesn't apply)
                @Html.EditorFor(model => model.VolunteerPerson.Pastor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.VolunteerPerson.Pastor, "", new { @class = "text-danger" })
            </div>



            <div class="col-md-4">
                How did you hear about us?
                @Html.EditorFor(model => model.VolunteerPerson.HowDidYouHear, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.VolunteerPerson.HowDidYouHear, "", new { @class = "text-danger" })
            </div>
        </div>

        <br />
        <hr />
        <h3>Criminal Past</h3>

        <div class="row">

            <div class="col-md-4">
                Have you ever been convited of a Felony?
                @Html.EditorFor(model => model.VolunteerPerson.Felony, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.VolunteerPerson.Felony, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-4">
                Nature of the Felony? ("n/a" if you answered no)
                @Html.TextAreaFor(model => model.VolunteerPerson.NatureOfFelony, new { @Style = "height:30px; width:800px;" })
                @Html.ValidationMessageFor(model => model.VolunteerPerson.NatureOfFelony, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-4">

            </div>
        </div>

        <div class="row">
            <div class="col-md-4">

            </div>

            <div class="col-md-4">

            </div>

            <div class="col-md-4">

            </div>
        </div>


        <br />
        <hr />

        <h3>Other</h3>
        <div class="row">

            <div class="col-md-4">
                Do you have any Disabilities? If so explain below.
                <br />
                @Html.TextAreaFor(model => model.VolunteerPerson.Disabilities, new { @Style = "height:100px; width:800px;" })
                @Html.ValidationMessageFor(model => model.VolunteerPerson.Disabilities, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-4">
                Please list some of your skills below.
                <br />
                @Html.TextAreaFor(model => model.VolunteerPerson.Skills, new { @Style = "height:100px; width:800px;" })
                @Html.ValidationMessageFor(model => model.VolunteerPerson.Skills, "", new { @class = "text-danger" })
            </div>
        </div>

        <br />
        <hr />

        <h3>Availability</h3>
        <br />

        @foreach (var av in Model.AllAvailability)
        {
            <div>
                <input type="checkbox" name="SelectedDays" value="@av.AvailabilityID" @(Model.SelectedDays.Contains(av.AvailabilityID) ? "checked='checked'" : null) />  @av.Day
            </div>
        }

        <br />
        <hr />

        <h3>What Categories are You Interested to Volunteer In?</h3>
        <div>

            @{
                int total = 0;
            }
            <table id="memberlist" style="width:100%">
                <tbody>
                    @foreach (var ct in Model.AllCategories)
                    {
                        if (total % 4 == 0)
                        {
                            @:<tr style="height:30px">
                            }
                            <td>
                                <input type="checkbox" name="SelectedCategories" value="@ct.CategoryID" @(Model.SelectedCategories.Contains(ct.CategoryID) ? "checked='checked'" : null) />@ct.Category1
                            </td>
                            if (total + 1 % 5 == 0)
                            {
                            @:</tr>
                        }
                        total++;
                    }
                </tbody>
            </table>
        </div>

        <br />

        <div class="form-group">
            <div class="text-center">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}