@model VMS.Models.ViewHourViewModel

@{
    ViewBag.Title = "Details";
}
<h2>Total Hours Summary by Categories</h2>
<br />

<p id="date_filter">
    <span id="date-label-from" class="date-label">From: </span><input class="date_range_filter date" type="text" id="datepicker_from" />
    <span id="date-label-to" class="date-label">To:<input class="date_range_filter date" type="text" id="datepicker_to" />
    <button type="button" onclick="sendDates()">Submit</button>
</p>
<table id="hoursTable" class="table table-bordered">
    <thead>
        <tr>
            <th>Category</th>
            <th>Hours</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Doctor)</td>
            <td>@Html.DisplayFor(model => model.Doctor)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Dentist)</td>
            <td>@Html.DisplayFor(model => model.Dentist)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Nurse)</td>
            <td>@Html.DisplayFor(model => model.Nurse)</td>
        </tr>
        <tr>
            <td>
                Chapel Ministry
            </td>
            <td>@Html.DisplayFor(model => model.Ministry)</td>
        </tr>
        <tr>
            <td>Bus Driver</td>
            <td>@Html.DisplayFor(model => model.Bus)</td>
        </tr>
        <tr>
            <td>Office/Clerical</td>
            <td>@Html.DisplayFor(model => model.Office)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Maintenance)</td>
            <td>@Html.DisplayFor(model => model.Maintenance)</td>
        </tr>
        <tr>
            <td>Auto Shop</td>
            <td>@Html.DisplayFor(model => model.Auto)</td>
        </tr>
        <tr>
            <td>Food Service</td>
            <td>@Html.DisplayFor(model => model.Food)</td>
        </tr>
        <tr>
            <td>Men's Division</td>
            <td>@Html.DisplayFor(model => model.Men)</td>
        </tr>
        <tr>
            <td>Thrift Store</td>
            <td>@Html.DisplayFor(model => model.Thrift)</td>
        </tr>
        <tr>
            <td>Special Events</td>
            <td>@Html.DisplayFor(model => model.Special)</td>
        </tr>
        <tr>
            <td>Women, Children, and Families</td>
            <td>@Html.DisplayFor(model => model.Women)</td>
        </tr>
        <tr>
            <td>Job Training/Life Skills Instructor</td>
            <td>@Html.DisplayFor(model => model.Training)</td>
        </tr>
        <tr>
            <td><strong>@Html.DisplayNameFor(model => model.Total) </strong></td>
            <td><strong>@Html.DisplayFor(model => model.Total) </strong></td>
        </tr>
    </tbody>
</table>


<p>
    @Html.ActionLink("Back to List", "Index")
</p>


@section scripts{
    <script>
        var dataTable, minDateFilter, maxDateFilter;
        $(function () {
            $("#datepicker_from").datepicker({
                showOn: "button",
                buttonImage: "images/calendar.gif",
                buttonImageOnly: false,
                "onSelect": function (date) {
                    minDateFilter = new Date(date).getTime();
                }
            }).keyup(function () {
                minDateFilter = new Date(this.value).getTime();
            });

            $("#datepicker_to").datepicker({
                showOn: "button",
                buttonImage: "images/calendar.gif",
                buttonImageOnly: false,
                "onSelect": function (date) {
                    maxDateFilter = new Date(date).getTime();
                }
            }).keyup(function () {
                maxDateFilter = new Date(this.value).getTime();
            });
        });

        function sendDates() {
            send(minDateFilter, maxDateFilter);
        }
        function send(startDate, endDate){}
        {
            var dates = [startDate, endDate]

            jQuery.ajax({
                type: "POST",
                url: "@Url.Action("HourSummary")",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(dates),
            });
        }
    </script>
}


