@model CRM.Models.Volunteer

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Confirm</title>
</head>
<body>
    <p>
        <h1>Successfully added @Model.firstName  @Model.lastName!</h1>        
        <h2>Phone Number: @Model.phone</h2>
        <h2>Email: @Model.email</h2>
        <h2>Interest: @Model.interest</h2>
   </p>   
    <p>Click <a asp-action="Index">here</a> to return to the home page.</p>
</body>
</html>
